<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fin.D</title>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
	<link rel="stylesheet" th:href="@{/css/account.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/global.css}">

</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<main>
		<section class="main-content">
			<div class="right-side">
				<div class="features">
					
					<div class="feature">
						<div class="subtitle">
							<i class="fi fi-br-piggy-bank"></i>
							<h2>계좌등록</h2>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>