<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fin.D 메인페이지</title>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/global.css}">


</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<main>
		<section class="main-content">
			<!-- 상단 영역 -->
			<section class="main-top">
				<h1>Fin.D</h1>
				<p>통합 금융 관리 시스템 Fin.D입니다</p>
			</section>

			<!-- 하단 영역 -->
			<div class="main-bottom">
				<div class="left-side">
					<div class="user-info">
						<img class="user-pic" src="/images/default-profile.jpg" alt="프로필">
						<h2 class="user-name" th:text="${userName}"></h2>
					</div>
				</div>

				<div class="right-side">
					<div class="features">
						<a class="feature" th:href="@{/account}">
							<div class="subtitle">
								<i class="fi fi-br-usd-circle"></i>
								<h2>계좌현황</h2>
							</div>
<!--							<p th:text="'잔액: ' + ${accountBalance}"></p>-->
						</a>
						<a class="feature" th:href="@{/calmoney}">
							<div class="subtitle">
								<i class="fi fi-br-payroll-calendar"></i>
								<h2>소비달력</h2>
							</div>
<!--							<p th:text="'이번 달 지출: ' + ${monthlyExpense}"></p>-->
						</a>
						<a class="feature" th:href="@{/analysis}">
							<div class="subtitle">
								<i class="fi fi-br-chart-pie-simple-circle-dollar"></i>
								<h2>소비분석</h2>
							</div>
<!--							<p th:text="'주요 지출: ' + ${mainSpending}"></p>-->
						</a>
						<a class="feature" th:href="@{/savemoney}">
							<div class="subtitle">
								<i class="fi fi-br-piggy-bank"></i>
								<h2>습관저금통</h2>
							</div>
<!--							<p th:text="'저금: ' + ${habitSaving}"></p>-->
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>