@charset "UTF-8";

/* header 스타일 */
header {
	background-color: var(--find-main-color);
	text-align: center;
	padding: 10px 0;
}

.nav {
	padding: 10px 20px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--find-white-color);
}

.logo {
	font-size: 28px;
	font-weight: bold;
	color: var(--find-white-color);
    text-decoration: none;
}

.nav-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-info a {
	font-size: 18px;
    color: var(--find-white-color);
    text-decoration: none;
}

/* footer 스타일 */
footer {
	background-color: var(--find-main-color);
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	width: 100%;
	position: relative;
	bottom: 0;
	/* 항상 화면 맨 아래에 위치하도록 설정 */
}

/* footer p 스타일 */
footer p {
	margin: 0;
	/* 여백 없애기 */
}