@charset "UTF-8";

/* header 스타일 */
header {
	background-color: var(--find-main-color);
	/* 포인트 색상 사용 */
	color: white;
	/* 글자 색을 하얀색으로 */
	text-align: center;
	padding: 10px 0;
}

.nav {
	padding: 0px 20px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	/* 로고 글자 색을 포인트 색상으로 */
}

.nav-info {
	display: flex;
	align-items: center;
	gap:10px;
}

.nav-info span {
	margin-right: 10px;
}

/* footer 스타일 */
footer {
	background-color: var(--find-main-color);
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	width: 100%;
	position: relative;
    bottom: 0;  /* 항상 화면 맨 아래에 위치하도록 설정 */
}

/* footer p 스타일 */
footer p {
	margin: 0;
	/* 여백 없애기 */
}