/* 전체 레이아웃 설정 */
.main-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	margin: 0 10px;
}

/* main-top 스타일 */
.main-top {
	flex: 2;
	/* 상단 영역 비율을 2로 설정 */
	width: 80%;
	text-align: center;
	background-color: #fff;
	margin: 10px;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-top h1 {
	font-size: 36px;
	margin: 0;
}

.main-top p {
	font-size: 18px;
	color: #777;
}

/* 하단 영역 */
.main-bottom {
	flex: 8;
	/* 상단 영역 비율을 8로 설정 */
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}


.left-side,
.right-side {
	margin: 0;
	padding: 0;
}



/* 왼쪽 영역 (프로필 사진, 사용자명) */
.left-side {
	flex: 3;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	/* 내부 여백 추가 */
}

.user-info {
	text-align: center;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	/* 사진과 사용자명 사이 간격 추가 */
}

/* 프로필 이미지 */
.user-pic {
	width: 80%;
	/* 부모의 너비 대비 80% */
	max-width: 500px;
	/* 최대 크기 제한 */
	height: auto;
	/* 비율 유지 */
	border-radius: 50%;
	object-fit: cover;
	/* 이미지 비율 유지하며 영역 채움 */
}

/* 사용자명 */
.user-name {
	width: 80%;
	display: flex;
	font-size: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
}

/* 오른쪽 영역 (버튼들) */
.right-side {
	flex: 7;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: auto;
	align-items: center;
	justify-content: center;
}

/* 버튼들을 2행 2열로 배치 */
.features {
	width: 100%;
	height: 100%;
	display: grid;
	border-radius: 50px;
	background-color: var(--find-main-color);
	grid-template-columns: repeat(2, 1fr);
	/* 2개의 열 */
	grid-template-rows: repeat(2, 1fr);
	/* 2개의 행 */
	gap: 15px;
	padding: 20px;
	margin: 10px;
}

/* 각 버튼 스타일 */
.feature {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--find-white-color);
	flex-direction: column;
	/* 내용은 세로로 배치 */
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 30px;
	transition: transform 0.3s ease-in-out;
}

/* subtitle 스타일 */
.subtitle {
	width: 100%;
	flex: 2;
	/* 상단 부분을 2로 설정 */
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--find-main-color);
	gap: 10px;
	padding: 10px 20px;
}

/* 아이콘 스타일 */
.subtitle i {
	font-size: 30px;
	line-height: 0;
	/* 기본적으로 설정된 줄 높이 없애기 */
}

/* 제목 스타일 */
.subtitle h2 {
	font-size: 28px;
}

/* 버튼 hover 시 효과 */
.feature:hover {
	transform: scale(1.05);
	/* 버튼 크기 살짝 확대 */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	/* 그림자 추가 */
}

/* 각 버튼의 내용 */
.feature p {
	width: 100%;
	flex: 8;
	/* 하단 부분을 8로 설정 */
	font-size: 14px;
	color: var(--find-sub-color);
	;
}