<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>마이페이지</title>
	<link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<main>
		<section class="main-content">
			<!-- 상단 영역 -->
			<section class="main-top">
				<h1 th:text="${userName} + '님의 마이페이지'">사용자님의 마이페이지</h1>
			</section>

			<!-- 하단 영역 -->
			<div class="main-bottom">
				<div class="left-side">
					<div class="user-info">
						<img class="user-pic" src="/images/default-profile.jpg" alt="프로필">
						<h2 class="user-name" th:text="${userName}"></h2>
					</div>
				</div>

				<div class="right-side">
					<div class="features">
						<div class="feature" onclick="location.href='/userInfo'">
							<div class="subtitle">
								<i class="fi fi-br-user-pen"></i>
								<h2>정보 수정</h2>
							</div>
						</div>
						<div class="feature" onclick="location.href='/changePassword'">
							<div class="subtitle">
								<i class="fi fi-br-otp"></i>
								<h2>비밀번호 변경</h2>
							</div>
						</div>
				
						<div class="feature" onclick="deleteUser()">
							<div class="subtitle">
								<i class="fi fi-br-remove-user"></i>
								<h2>회원 탈퇴</h2>
							</div>
						</div>

						<script>
							function deleteUser() {
								// 회원 탈퇴 확인 팝업창
								if (confirm("정말로 회원을 탈퇴하시겠습니까?")) {
									// `fetch`로 서버에 POST 요청
									fetch('/deleteUser', {
										method: 'POST',
										headers: {
											'Content-Type': 'application/json',
										}
									}).then(response => {
										if (response.ok) {
											alert("회원 탈퇴가 완료되었습니다.");
											window.location.href = "/";  // 로그인 페이지로 리다이렉트
										} else {
											alert('회원 탈퇴에 실패했습니다.');
										}
									});
								}
							}

						</script>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>