<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--layout:decorate="~{layouts/signuplayout}"-->

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript">
		//사용자 인증 요청하기(사용자 인증하면서 계좌등록까지 진행함)
		function authorization() {
			var url = "https://testapi.openbanking.or.kr/oauth/2.0/authorize?"
				+ "response_type=code&" //고정값 code: 인증요청시 반환되는 값의 형식의미
				+ "client_id=4987e938-f84b-4e23-b0a2-3b15b00f4ffd&" //이용기관의 ID
				+ "redirect_uri=http://localhost:8087/user/authresult&"//응답URL
				+ "scope=login inquiry transfer&" //토큰의 권한
				+ "state=12345678123456781234567812345678&" //32자리 난수 설정
				+ "auth_type=0"; //0:최초 한번 인증, 2:인증생략

			window.open(url, "인증하기", "width=400px,height=600px");
		}
	</script>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<main class="container">
		<form action="/user/addUser" method="post">
			<div class="logo">🔍 FinD</div>
			<div class="sub-text">회원가입</div>
			<div class="form-group">
				<label for="email">이메일</label>
				<input type="email" id="email" name="email" placeholder="name@example.com" required>
			</div>
			<div class="form-group">
				<label for="name">이름</label>
				<input type="text" id="name" name="name" placeholder="홍길동" required>
			</div>
			<div class="form-group">
				<label for="password">비밀번호</label>
				<input type="password" id="password" name="password" placeholder="••••••" required>
			</div>
			<div class="form-group">
				<label for="address">주소</label>
				<input type="text" id="address" name="address" placeholder="서울시 강남구" required>
			</div>
			<div class="form-group">
				<label for="birth">생일</label>
				<input type="date" id="birth" name="birth" required>
			</div>
			<div class="form-group">
				<label for="phone">휴대폰</label>
				<input type="tel" id="phone" name="phone" placeholder="010-1234-5678" required>
			</div>
			<div class="form-group">
				<label for="useraccesstoken">접근토큰</label>
				<input name="useraccesstoken" class="form-control" />
			</div>
			<div class="form-group">
				<label for="userrefreshtoken">갱신토큰</label>
				<input name="userrefreshtoken" class="form-control" />
			</div>
			<div class="form-group">
				<label for="userseqno">고유번호</label>
				<input name="userseqno" class="form-control" />
			</div>

			<div class="form-group">
				<button type="button" onclick="authorization()" class="btn">인증하기</button>
				<button type="submit" class="btn">가입하기</button>
			</div>
			</table>
		</form>
	</main>

	<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>