<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>정보수정</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>
	<header th:insert="~{fragments/header :: header}"></header>

	<main class="container">
		<form action="/updateUser" method="post">
			<div class="logo">🔍 FinD</div>
			<div class="sub-text">회원정보 수정</div>
			<div class="form-group">
				<label for="email">이메일</label>
				<input type="email" id="email" name="email" th:value="${dto.email}" required />
			</div>
			<div class="form-group">
				<label for="name">이름</label>
				<input type="text" id="name" name="name" th:value="${dto.name}" required>
			</div>
			<div class="form-group">
				<label for="address">주소</label>
				<input type="text" id="address" name="address" th:value="${dto.address}" required>
			</div>
			<div class="form-group">
				<label for="birth">생일</label>
				<input type="date" id="birth" name="birth" th:value="${dto.birth}" required>
			</div>
			<div class="form-group">
				<label for="phone">휴대폰</label>
				<input type="tel" id="phone" name="phone" th:value="${dto.phone}" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn" onclick="showAlert()">수정하기</button>
				<script>
					function showAlert() {
						// 수정 완료 후 알림창 띄우기
						alert('정보가 성공적으로 수정되었습니다.');
					}
				</script>
			</div>

		</form>
	</main>

	<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>

</html>