/* 기본적인 레이아웃에 공통되는 스타일 */
.left-side,
.right-side {
	padding: 20px;
	box-sizing: border-box;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
	main {
		flex-direction: column;
	}

	.left-side {
		border-right: none;
		border-bottom: 1px solid #ddd;
	}
}

/* 전체 콘텐츠 영역 */
.main-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

/* 왼쪽 영역 (프로필 이미지, 사용자명) */
.left-side {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	border: none;
	justify-content: center;
}

.user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: 100%;
}

.profile-pic {
	width: 80%;
	max-width: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.user-info h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
}

button {
	font-family: RiaSans-ExtraBold, sans-serif;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	border-radius: 20px;
	padding: 10px;
	transition: transform 0.3s ease-in-out;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* 버튼 hover 시 효과 */
button:hover {
	transform: scale(1.05);

}

/* 오른쪽 영역 (버튼들) */
.right-side {
	width: 80%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}


.features {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background-color: var(--find-main-color);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

/* 각 버튼 스타일 */
.feature {
	display: flex;
	background-color: #ffffff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	border-radius: 30px;
	padding: 20px;
	transition: transform 0.3s ease-in-out;
}



/* subtitle 스타일 */
.subtitle {
	display: flex;
	align-items: center;
	color: var(--find-main-color);
	margin-bottom: 10px;
}

.subtitle i {
	font-size: 28px;
	margin-right: 10px;
}

.subtitle h2 {
	font-size: 24px;
	margin: 0;
}

/* 각 버튼의 내용 */
.feature p {
	font-size: 14px;
	color: #555;
}