@charset "UTF-8";

/* header 스타일 */
header {
	width: 100% !important;
	background-color: var(--find-main-color) !important;
	text-align: center !important;
	position: relative !important;
	box-sizing: border-box;
	  z-index: 1000;
}

header .navbar-container {
	padding: 10px 20px !important;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	width: 100%;
}

header .logo {
	font-size: 28px !important;
	font-weight: bold !important;
	color: var(--find-white-color) !important;
	text-decoration: none !important;
}

header .nav-info {
	display: flex !important;
	align-items: center !important;
	gap: 10px !important;
}

header .nav-info a {
	font-size: 18px !important;
	color: var(--find-white-color) !important;
	text-decoration: none !important;
}

/* footer 스타일 */
footer {
	background-color: var(--find-main-color) !important;
	color: var(--find-white-color) !important;
	text-align: center !important;
	padding: 10px !important;
	font-size: 14px !important;
	width: 100% !important;
	position: relative !important;
	bottom: 0 !important;
	margin-top: auto !important;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* footer p 스타일 */
footer p {
	margin: 0 !important;
	/* 여백 없애기 */
}